*{
  box-sizing: border-box;
}


body {
  height: 90vh;
  display:  flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(to left top, rgb(176, 242, 176),#f2aaaa);
  font-family: "Poppins", sans-serif;
}
.container{
  background-color: rgb(138, 212, 241);
  font-size: 2.4rem;
  font-weight: 300;
  padding:  4rem;
  border-radius: 0.8rem;
  width: 700px;
  min-height: 600px;
  max-width: 90%;
  box-shadow: 2px 5px 6px black;
}
.container .type-input {
  margin-top: 4rem;
  font-size: 3rem;
}
.timer {
  position: absolute;
  top: 2rem;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(213, 44, 207);
}
.type-display {
  margin-bottom: 6rem;
  margin-left: 1rem;
}
.type-Input {
  background-color: transparent;
  border: 2px solid #fff;
  outline: none;
  width: 100%;
  height: 15rem;
  margin: auto;
  resize: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-size: 3rem;
}
.type-Input:focus {
  border-color: black;
}
